<div class='container'>
	<div class='text-center'>
		<h1><span class='header'>Delivery Options</span></h1>
	</div>
</div>
<div class='container text-center'>
	<div class='col-xs-6 col-md-4'>
		<h2>GrubHub</h2>
		<a href="https://www.grubhub.com/restaurant/crawfish-king-725-s-lane-st-seattle/312476?orderMethod=delivery&locationMode=DELIVERY&facetSet=umami&pageSize=20&queryText=crawfish%20king&latitude=47.59653472&longitude=-122.32283021&facet=open_now:true&countOmittingTimes" target='_blank'><img src="../images/delivery/grubhub.jpeg" alt="grub" class='img-responsive'></a>
	</div>
	<div class='col-xs-6 col-md-4'>
		<h2>BiteSquad</h2>
		<a href="http://www.bitesquad.com/food/crawfish-king/696" target='_blank'><img src="../images/delivery/bitesquad.jpg" alt="bite" class='img-responsive'></a>
	</div>
	<div class='col-xs-6 col-md-4'>
		<h2>Eat24</h2>
		<a href="http://seattle.eat24hours.com/crawfish-king/54592" target='_blank'><img src="../images/delivery/eat24.png" alt="eat24" class='img-responsive'></a>
	</div>
</div>

