<div>
	<div class='text-center'>
		<div class='jumbotron'>
			<h1>Our Gallery</h1>
		</div>
		<div class='container'>

				<iframe src="http://snapwidget.com/sc/?h=Y3Jhd2Zpc2hraW5nc2VhdHRsZXxpbnw1MDB8NXw2fHx5ZXN8NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=190216" title="Instagram Widget" class="snapwidget-widget img-responsive" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:970px; height:500px; margin-bottom: 10px; margin:auto;"></iframe>
		</div>
	</div>
</div>