<div>
	 <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>
                <!-- <li data-target="#main-slider" data-slide-to="4"></li> -->
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/store/edit.jpg)">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/store/edit-3.jpg)">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/store/edit-5.jpg)">     
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/store/main.jpg)">
                </div>
              <!--   <div class="item" style="background-image: url(images/store/side.jpg)">
                </div> -->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->

       <!--  <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a> -->
    </section><!--/#main-slider-->

</div>