<div>
	<!-- <div class=''>
		<table class='table table-bordered'>
			<tr>
				<th style='text-align: center'>Monday</th>
				<th style='text-align: center'>Tuesday</th>
				<th style='text-align: center'>Wednesday</th>
				<th style='text-align: center'>Thursday</th>
				<th style='text-align: center'>Friday</th>
			</tr>
			<tr>
				<td><img src="images/specials/CK promo4.png" style='padding: 15px 0px 15px 15px' alt='special'></td>
				<td><img src="images/specials/CK promo5.png" style='padding: 15px 0px 15px 15px' alt='special'></td>
				<td><img src="images/specials/CK promo2.png" style='padding: 15px 0px 15px 15px' alt='special'></td>
				<td><img src="images/specials/CK promo3.png" style='padding: 15px 0px 15px 15px' alt='special'></td>
				<td><img src="images/specials/CK promo1.png" style='padding: 15px 0px 15px 15px' alt='special'></td>
			</tr>
		</table> -->
	<div class='specials'>
		<div class='text-center'>
			<div class='col-md-15 col-sm-3' style='border: 1px solid black'>
				<h2><span class='white'>Monday</span></h2>
				<img src="images/specials/CK promo4.png" alt='special'>
			</div>
			<div class='col-md-15 col-sm-3' style='border: 1px solid black'>
				<h2><span class='white'>Tuesday</span></h2>
				<img src="images/specials/CK promo5.png" alt='special'>
			</div>
			<div class='col-md-15 col-sm-3' style='border: 1px solid black'>
				<h2><span class='white'>Wednesday</span></h2>
				<img src="images/specials/CK promo2.png" alt='special'>
			</div>
			<div class='col-md-15 col-sm-3' style='border: 1px solid black'>
				<h2><span class='white'>Thursday</span></h2>
				<img src="images/specials/CK promo3.png" alt='special'>
			</div>
			<div class='col-md-15 col-sm-3' style='border: 1px solid black'>
				<h2><span class='white'>Friday</span></h2>
				<img src="images/specials/CK promo1.png" alt='special'>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class='col-sm-4' style='margin-bottom: 10px'>
			<img src="images/specials/happyhour.png">
		</div>
		<div class='col-sm-4' style='margin-bottom: 10px'>
			<img src="images/specials/From The Sea.png">
		</div>
		<div class='col-sm-4' style='margin-bottom: 10px'>
			<img src="images/specials/special events1.png">
		</div>
	</div>
	<div class='container'>
		<img src="images/specials/Military.png" alt='military' class='img-responsive' style='margin-bottom:10px;'>
	</div>
</div>